body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  margin-top: 10px;
  margin-left: 20px;
  height: 20rem;
  width: 20rem;
  background-color: rgb(7, 123, 168);
  border-radius: 50px;
  display: inline-block;
}
img{
  display:block;
  margin:10px auto;
  text-align:center;
  border-radius: 30px;
  
}
hr{
  border: none;
  height: 2px;
  background-color: aqua;
  border-radius:30px ;
  width: 90%;
}
p{
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center;
}
.bottone{
  color: rgb(117, 117, 119);
  display:block;
  margin:0px auto;
  text-align:center;
  margin-top: 20px;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 200px;
  border-color: rgb(20, 149, 30);
  border-radius: 30px;
  background-color:rgb(44, 39, 39);
}
.bottone:hover{
  color: white;
  background-color: yellowgreen;
  transition:ease-in-out 1s;
}
