body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  margin-top: 10px;
  margin-left: 20px;
  height: 500px;
  width: 300px;
  background-color: rgb(7, 123, 168);
  border-radius: 50px;
  display: inline-block;
}
img{
  display:block;
  margin:10px auto;
  text-align:center;
  border-radius: 30px;
  
}
hr{
  border: none;
  height: 2px;
  background-color: aqua;
  border-radius:30px ;
  width: 90%;
}
p{
  font-size: 15px;
  color: white;
  text-align: center;
}
